<header class="custom-navbar" style="background-color: {{ section.settings.navbar_background_color }}">
  <div class="nav-container container">
    <div class="logo">
      <a href="{{ shop.url }}">
        <img src="{{ section.settings.logo | image_url }}" alt="Cap Wholesalers">
      </a>
    </div>

    <div class="search-bar">
      <form action="/search" method="get" role="search">
        <input type="text" name="q" placeholder="{{ section.settings.search_placeholder }}">

        <button class="btn-navbar" type="submit">
          <img src="{{ 'seacrh-icon.png' | asset_url }}" alt="Search Icon"> SEARCH
        </button>
      </form>
    </div>

    <div class="cart-login-section">
      <div class="nav-links">
        <a class="a_tag" href="{{ section.settings.link_reviews }}">
          {{ section.settings.reviews_text }}
        </a>
        <div class="custom-hr"></div>
        <a class="a_tag" href="{{ section.settings.link_size_charts }}">
          {{ section.settings.size_charts_text }}
        </a>
      </div>
      <div class="custom-btns">
        <a class="a_tag_1 a_tag" href="/cart" style="color: {{ section.settings.text_color_nav }};"
          ><img src="{{ 'user.png' | asset_url }}" width="15px" height="15px" alt="user Icon">
          <span>{{ cart.item_count }} ITEM(S) / {{ cart.total_price | money }}</span>
        </a>
        {% if customer %}
          <a class="a_tag_2 a_tag" href="/account" style="color: {{ section.settings.text_color_nav }};"
            ><img src="{{ 'user.png' | asset_url }}" width="15px" height="15px" alt="user Icon">MY ACCOUNT</a
          >
        {% else %}
          <a class="a_tag_2 a_tag" href="/account/login" style="color: {{ section.settings.text_color_nav }};"
            ><img src="{{ 'user.png' | asset_url }}" width="15px" height="15px" alt="user Icon">LOGIN/NEW USER</a
          >
        {% endif %}
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Custom Navbar",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "search_placeholder",
      "label": "Search Placeholder",
      "default": "What are you looking for?"
    },
    {
      "type": "url",
      "id": "link_reviews",
      "label": "Link for Reviews",

    },
    {
      "type": "url",
      "id": "link_size_charts",
      "label": "Link for Size Charts"
    }, {
      "type": "text",
      "id": "reviews_text",
      "label": "Text for Reviews Link",
      "default": "CAP WHOLESALERS REVIEWS"
    }, {
      "type": "text",
      "id": "size_charts_text",
      "label": "Text for Size Charts Link",
      "default": "SIZE CHARTS"
    }, {
      "type": "color",
      "id": "navbar_background_color",
      "label": "Navbar Background Color",
      "default": "#a53336"
    }, {
      "type": "color",
      "id": "text_color_nav",
      "label": "Text Color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Custom Navbar"
    }
  ]
}
{% endschema %}
